fastapi
uvicorn[standard]
python-dotenv
python-jose[cryptography]
python-multipart
pydantic
google-auth
google-auth-oauthlib
scikit-learn
numpy
# Document extraction
PyMuPDF
Pillow
pytesseract
nltk
KeyBERT
torch
openai
sentence-transformers